<h2 class="Topquality">Top quality</h2>
<div class="container">
    <div class="container__top-quality">
        <a href="#"><img src="./assets/img/nike6.png" alt="nike6">
            <h2>nike air jordan one retro</h2>
            <p>Precio: $299.999 COP</p>
        </a>
        <button>Seleccionar opciones</button>
    </div>

    <div class="container__top-quality">
        <a href="#"><img src="./assets/img/nike7.png" alt="nike7">
            <h2>Air force one blue with black</h2>
            <p>Precio: $299.999 COP</p>
        </a>
        <button>Seleccionar opciones</button>
    </div>

    <div class="container__top-quality">
        <a href="#"><img src="./assets/img/nike8.png" alt="nike8">
            <h2>Nike jordan one retro</h2>
            <p>Precio: $299.999 COP</p>
        </a>
        <button>Seleccionar opciones</button>
    </div>


    <div class="container__top-quality">
        <a href="#"><img src="./assets/img/nike9.png" alt="nike9">
            <h2>Nike blazer</h2>
            <p>Precio: $299.999 COP</p>
        </a>
        <button>Seleccionar opciones</button>
    </div>
</div>

<div class="bton">
    <div class="bton-bton">
        <button class="vertodo"><a href="#">Ver todo</a></button>
    </div>
</div>