<div class="mysteryBox">
    <div class="container-mysteryBox">
        <div class="container-mysteryBox-h2">
            <h2 class="container-mysteryBox-h2-span">
                <span>¡tu misterio, tu estilo, tus sneakers!</span>
            </h2>
            <div class="container_mysteryboX-">
                <span>Dos Sneakers por tan solo 359.000</span>
            </div>
            <div class="mysteryBox__">
                <button class="mysteryBox-button"><a href="#">Comprar</a></button>
            </div>
        </div>
    </div>
</div>

